<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k1x.android.twitterlist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />
 	
 	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

 	<application
        android:allowBackup="true"
        android:name="com.k1x.android.twitterlist.TwitterListApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.k1x.android.twitterlist.MainActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name" >
            <intent-filter>
		        <action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.k1x.android.twitterlist.TweetListActivity"
            android:label="Tweets" >
        </activity>       
        <activity
            android:name="com.k1x.android.twitterlist.TweetInfoActivity"
            android:label="Tweets" >
        </activity>   
        <activity
            android:name="com.k1x.android.twitterlist.TweetActivity"
            android:label="Add Tweet" >
        </activity>     
        <activity
            android:name="com.k1x.android.twitterlist.UsersListActivity"
            android:label="User List" >
        </activity>     
        <activity
            android:name="com.k1x.android.twitterlist.UserProfileActivity"
            android:label="User Profile" >
        </activity>     
    </application>
 	
    
</manifest>