<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k1x.android.twitterlist"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />
 	
 	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

 	<application
        android:allowBackup="true"
        android:name="com.k1x.android.twitterlist.TwitterListApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.k1x.android.twitterlist.MainActivity"
            android:launchMode="singleInstance"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".TweetsTimelineActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
		        <action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>       
        <activity
            android:name=".FullTweetActivity"
            android:label="@string/app_name" >
        </activity>   
        <activity
            android:name="com.k1x.android.twitterlist.TweetActivity"
            android:label="@string/app_name" >
        </activity>     
        <activity
            android:name="com.k1x.android.twitterlist.UsersListActivity"
            android:label="@string/app_name" >
        </activity>     
        <activity
            android:name="com.k1x.android.twitterlist.UserProfileActivity"
            android:label="@string/app_name" >
        </activity>     
        <activity
            android:name="com.k1x.android.twitterlist.AppInfoActivity"
            android:label="@string/app_name" >
        </activity>           
    </application>
</manifest>